*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar
{
    height: 100vh;
    width: 280px;
    background: linear-gradient(rgb(0, 34, 50),rgb(0, 23, 36));
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* z-index: 2; */
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid rgba(94, 94, 94, 0.488);
    font-size: 2rem;
    color: #cac2ff;
    font-weight: bold;
}

.link-container
{
    padding: 0px 20px;
    margin-top: 15px;
    border-bottom: 1px solid rgb(99, 99, 99, 0.488);
}

.link-container div
{
    
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* border: 1px solid white; */
}

.link
{
    padding: 5px 0px 5px 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    transition: .3s;
}

.link:active
{
    transform: scale(0.9);
}

.link:hover
{
    border-left: 3px solid #8876ff;
    background-color: #8876ff32;
    box-shadow: #8876ff3f 0px 5px 15px 0px;
}



.linkText
{
    color: #eae6ff;
    text-decoration: none;
    /* border: 1px solid white; */
    width: 100%;
    padding: 15px 0px;
    font-weight: bold;
}

.linkText:hover
{
    color: #8876ff;
}

.homeText
{
    color: #eae6ff;
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    height: 60px;
}

.footer-item
{
    margin: auto;
    color: white;
}

.icon img
{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

.profile_pic
{

    width: 30px;
    height: 30px;
    cursor: pointer;
}

.profile_pic:hover
{
    transform: scale(1.1);
}

.profile_pic:active
{
    transform: scale(0.9);
}

.profile_pic img
{
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


